In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import pickle

In [15]:
df = pd.read_csv('Prediction Insurance.csv')
df.head(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1
1,2,Male,76,1,3,0,1-2 Year,No,33536,26,183,0
2,3,Male,47,1,28,0,> 2 Years,Yes,38294,26,27,1
3,4,Male,21,1,11,1,< 1 Year,No,28619,152,203,0
4,5,Female,29,1,41,1,< 1 Year,No,27496,152,39,0

In [16]:
df = df.drop('id', axis=1)

In [27]:
response_counts = df['Response'].value_counts()
print(response_counts)

Response
0    334399
1     46710
Name: count, dtype: int64

In [35]:

# Convert categorical variables to numeric
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
df['Vehicle_Age'] = df['Vehicle_Age'].map({'< 1 Year': 0, '1-2 Year': 1, '> 2 Years': 2})
df['Vehicle_Damage'] = df['Vehicle_Damage'].map({'No': 0, 'Yes': 1})
df_cat_reg = pd.get_dummies(df['Region_Code'])
df2 = df[['Gender','Age','Driving_License', 'Vehicle_Damage', 'Previously_Insured','Response']].merge(df_cat_reg, left_index=True, right_index=True)
df2.columns = df2.columns.astype(str)
df2

,Gender,Age,Driving_License,Vehicle_Damage,Previously_Insured,Response,0,1,2,3,...,43,44,45,46,47,48,49,50,51,52
0,0,44,1,1,0,1,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,76,1,0,0,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,47,1,1,0,1,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,21,1,0,1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,29,1,0,1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,0,74,1,0,1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381105,0,30,1,0,1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381106,0,21,1,0,1,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381107,1,68,1,1,0,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
381108,0,46,1,0,0,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Defining features and target variable
X = df2.drop(columns=['Response'])
y = df2['Response']

In [ ]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# Initializing and training the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

In [ ]:
# Making predictions and evaluating the model
y_pred = model.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(classification_report(y_test, y_pred))

In [36]:
# Saving the model using pickle
with open('insurance_model.pkl', 'wb') as file:
    pickle.dump(model, file)

print("Model saved as 'insurance_model.pkl'")

Accuracy: 0.8723728057516202
              precision    recall  f1-score   support

           0       0.88      0.99      0.93     66846
           1       0.28      0.02      0.05      9376

    accuracy                           0.87     76222
   macro avg       0.58      0.51      0.49     76222
weighted avg       0.81      0.87      0.82     76222

Model saved as 'insurance_model.pkl'